<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
    <title>个人积分</title>
	<script src="/static/js/jquery-3.2.1.min.js"></script>

</head>
<body>
    {% include 'nav.html' %}

	<div class="page_nav">
        <p>当前积分：<span>{{score_sum.sum}}</span></p>
    </div>

        <!-- 上传表单-->
	<div class="page_tb">
		<table>
			<thead>
				<tr>
					<th>序号</th>
					<th>积分</th>
					<th>时间</th>
					<th>来源</th>
				</tr>
			</thead>
			<tbody>
            {% for score in scores %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{score.score}}</td>
					<td>{{score.create_time|date:"Y-m-d H-i-s"}}</td>
					<td>{{score.remark}}</td>
				</tr>
            {% endfor %}


			</tbody>
		</table>

		<div class="panigation">
			<a href="/point">首页</a>
            <a>&lt;上一页</a>
            <a>下一页&gt;</a>
            <a>尾页</a>
		</div>
	</div>
</body>

</html>