<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
	<script src="/static/js/jquery-3.2.1.min.js"></script>
    <title>资源上传</title>
</head>
<body>
    {% include 'nav.html' %}
	<p></p>
	<div></div>

    <!-- 网站主体 -->
    <div id="main">
        <!-- 上传表单-->
        <div class="upload">
            <p>上传资源</p>
            <hr />
            <form action="/res/upload" id="myform" method="post" enctype="multipart/form-data">
                <span>
                    <label>选择文件：</label>
                    <input class="upt" type="text" readonly="readonly"/>
                    <input class="upt" id="file" type="file" name="res_address" value="" onchange="get_file(this)"/>
                    <b></b>
                    <b>文件格式可以是txt、pdf、zip、rar等后缀</b>
                </span>
                <span>
                    <label>资源名称：</label>
                    <input class="upt" id="realname" type="text" name="res_name" value="" />
                </span>
                <span>
                    <label>资源类型：</label>
                    <select class="upt" name="res_type">
                        <option value="文本文件">文本文件</option>
                        <option value="电子文件">电子文件</option>
                        <option value="压缩文件">压缩文件</option>
                    </select>
                </span>
                <span>
                    <label>关键词：</label>
                    <input class="upt" id="keyword" type="text" name="keyword" value="" onchange="check(this)"/>
                    <b></b>
                    <b>多个关键词用空格分割,关键词不能超过5个</b>
                </span>
                <span>
                    <label>资源分：</label>
                    <select class="upt" id="sel" name="score">
                        <option selected="selected" value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </span>
                <span class="d_span">
                    <label>资源描述：</label>
                    <textarea name="res_desc"  class="area" placeholder="描述不支持HTML标签；详细的资源描述有机会获得我们的推荐，更有利于他人下载，赚取更多积分。如资源描述不清，有可能审核不通过。"></textarea>
                </span>
                <span>
                    <label class="agree">
                        <input id="agree" type="checkbox" name="" value="1" />
                        <b></b>
                        <a href="#">同意爱下下资源上传协议</a>
                    </label>

                </span>

                <span><label class="btn"><input id="reg" type="button" value="提交" /></label></span>
            </form>
        </div>
        <!-- 公告 -->
        <div class="advice">
            <p class="title">上传须知</p>
            <hr />
            <p><span>*</span>如涉及侵权内容,您的资源将被移除</p>
            <p><span>*</span>请勿上传小说、mp3、图片等与技术无关的内容.一旦发现将被删除</p>
            <p><span>*</span>请勿在未经授权的情况下上传任何涉及著作权侵权的资源，除非该资源完全由您个人创作</p>
            <p><span>*</span>点击上传资源即表示您确认该资源不违反资源分享的使用条款，并且您拥有该资源的所有版权或者上传资源的授权</p>
        </div>
    </div>
    <script>
        function get_file(t){
            let file = t.files[0];
            if (file==null){
                $(t).next().text("文件不能为空");
                return false;
            }
            $(t).next().text("");
            let name = file.name;
            let index = name.lastIndexOf(".");
            let type = name.substring(index + 1);
            {#if (type!='txt'&&type!='pdf'&&type!='zip'&&type!='rar'&&type!='exe'){#}
            {#    $(t).next().text("文件格式不正确");#}
            {#    return false;#}
            {# } #}
            $(t).next().text("");
            $(t).prev().val(name);
            realname = name.split('.')[0];
            $("#realname").val(realname);
            return true;
        }
        function check(word){
            let keyword = $(word).val();
            console.log(keyword);
            let lengths = keyword.split(' ').length;
            if (lengths>5){
                $(word).next().text("关键词过长");
                return false;
            }
            $(word).next().text("");
            return true;
        }
        $("#reg").click(function () {
            let status = get_file(document.getElementById("file"));
            if (!status){
                return;
            }
            let status1 = check(document.getElementById("keyword"));
            if (!status1){
                return;
            }
            let isagree = $("#agree").prop('checked');
            if (!isagree){
                $("#agree").next().text("请同意协议");
                return false;
            }
            $("#agree").next().text("");
            $("#myform").submit()
        })
    </script>


</body>

</html>